<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<integer>55225</integer>
	<key>auth_key</key>
	<string>eBT3XB5LPcS3W89</string>
	<key>auth_secret</key>
	<string>LpP4gDbUutvAaSk</string>
	<key>account_key</key>
	<string>7yvNe17TnjNUqDoPwfqp</string>
	<key>api_endpoint</key>
	<string>https://api.quickblox.com</string>
	<key>user_login</key>
	<string>pushsender</string>
	<key>user_password</key>
	<string>pushsender</string>
</dict>
</plist>
